[submodule "submodules/cereal"]
	path = submodules/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "submodules/nanoflann"]
	path = submodules/nanoflann
	url = git@github.com:jlblancoc/nanoflann.git
