[submodule "submodules/cereal"]
	path = submodules/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "submodules/nanoflann"]
	path = submodules/nanoflann
	url = git@github.com:jlblancoc/nanoflann.git
[submodule "spc/pyspc/minieigen"]
	path = spc/pyspc/minieigen
	url = git@github.com:eudoxos/minieigen.git
