[submodule "submodules/Boost.NumPy"]
	path = submodules/Boost.NumPy
	url = git@github.com:ndarray/Boost.NumPy.git
[submodule "submodules/cereal"]
	path = submodules/cereal
	url = git@github.com:USCiLab/cereal.git
